GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
APP_UPDATE_ENDPOINT=
TAURI_UPDATER_PUBLIC_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_APP_PASSWORD=
SUPPORT_FROM_EMAIL=
SUPPORT_TO_EMAIL=
SUPPORT_FROM_NAME=
